#board {
    display: flex;
    flex-wrap: wrap;
    width: 731px;
    background-color: blue;
}

.case {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 1px;
    border: 1px solid blue;
    border-radius: 50%;
}

.playerone {
    background-color: red;
}

.playertwo {
    background-color: yellow;
}
